.card-article {
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.65);
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.card-article:hover {
  background: rgba(54, 69, 79, 0.1);
  border: 1px solid rgba(128, 128, 128, 1);
}

.card-meta {
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.space {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card-meta i {
  margin-right: 5px;
}

.card-meta a {
  color: inherit;
  text-decoration: none;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: inherit;
  text-decoration: none;
  line-height: 1.3;
}

.card-description {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.8;
  margin: 0;
}

@media (max-width: 1023px) {
  .card-article {
    width: 80vw;
  }
}

