.footer {
  background: rgba(28, 28, 30, 0.95);
  color: whitesmoke;
  text-align: center;
  padding: 1.7rem;
}

.footer a, 
.footer a:link {
  color: whitesmoke;
  text-decoration: none;
}

.footer a:visited,
.footer a:hover,
.footer a:active {
  color: #D3D3D3;
  text-decoration: none;
}

