:root {
  --bg-color: #FDFCFA;
  --accent-color1: #880808;
  --accent-color2: #fca311;
  --accent-color3: #002147;
  --text: #333;
  --text-light: #f5f5f5;
  --text-dark: #1B1212;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-dark);
  min-height: 100vh;
  transition: all 0.3s ease;
}

p, h1, h2, h3, h4 {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.page-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}

.page-header h1 {
  font-size: 2.5rem;
  font-weight: 600;
}


.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 90vh;
}

.error-page h1 {
  font-size: 15vw;
  color: var(--accent-color1);
}

.error-page p {
  font-size: 2.1rem;
  font-weight: 400;
}

.error-page a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 400;
}

@media (max-width: 992px) {
  .post-container {
    flex-direction: column-reverse;
  }

  .nav-buttons {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .profile-name {
    font-size: 24px;
  }

  .post-title {
    font-size: 28px;
  }

  .article-title {
    font-size: 20px;
  }

  .navbar {
    padding: 15px;
  }

  .post-content {
    padding: 25px;
  }
}



#archives {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin: 0 auto;
  gap: 3rem;
}

@media (max-width: 1023px) {
  #archives {
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #archives-toc {
    display: none;
  }
}

.year {
  font-size: 2.1rem;
  font-weight: 50;
}

#list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}

