.profile-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  gap: 2rem;
  margin: 4rem auto;
  margin-bottom: 3rem;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid var(--border-color);
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-name {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-description {
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  color: inherit;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s;
  display: inline-block;
}

.social-icons a:hover {
  transform: translateY(-3px);
}

@media (max-width: 1023px) {
  .profile-section {
    flex-direction: column;
    width: 80vw;
  }
}

