.post-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

.post-content {
  flex: 1;
}

.post-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--accent-color3);
  margin-bottom: 20px;
}

.post-meta {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 1.4rem;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid var(--accent-color1)
}

.post-meta a {
  color: inherit;
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}

.post-body {
  line-height: 1.8;
  font-size: 18px;
}

.post-body h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 28px;
  color: #1B1B1B;
  font-weight: bold;
}

.post-body h3 {
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 22px;
  color: var(--accent-color3);
  font-weight: 600;
}

.post-body p {
  margin-bottom: 20px;
}

.post-body img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
}

.post-body code {
  background: rgba(0, 0, 0, 0.1);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.9em;
  overflow-x: auto;
  white-space : pre-wrap !important;
}

.post-body pre {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  overflow-x: auto;
  margin: 20px 0;
  white-space : pre-wrap !important;
}

.post-body pre code {
  background: none;
  padding: 0;
  overflow-x: auto;
  white-space : pre-wrap !important;
}

.post-tags {
  padding-top: 20px;
  margin-top: 1.4rem;
  border-top: 1px solid var(--accent-color1);
}

.giscus {
  width: 70vw;
  margin: 0 auto;
}


/* Post Nav */
.post-navigation {
  padding: 30px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  gap: 20px;
}

.nav-button {
  flex: 1;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.65);
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.nav-button:hover {
  background: rgba(54, 69, 79, 0.1);
  border: 1px solid rgba(128, 128, 128, 1);
}

.nav-label {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 8px;
}

.nav-title {
  font-size: 16px;
  font-weight: bold;
}

.nav-next {
  text-align: right !important;
}



@media (max-width: 1023px) {
  .post-container,
  .giscus {
    width: 90vw;
  }

  .post-container {
    gap: 0rem !important;
  }
}
