.stats-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 65vw;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 40px;
}

.stats-card {
  padding: 25px;
  text-align: left;
  width: 100%;
  height: 250px;
  border-radius: 16px;
  border-left: 2.5px solid var(--accent-color1);
  border-right: 2.5px solid var(--accent-color1);
}

.stats-title {
  color: var(--accent-color1);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  margin-bottom: 15px;
}

.stats-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-badge {
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  background: rgba(54, 69, 79, 0.05);
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.stats-badge:hover {
  background-color: color-mix(in srgb, var(--accent-color1) 30%, transparent);
  color: inherit;
}

.stats-number {
  font-size: 21px;
  font-weight: bold;
}

.stats-label {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
}

@media (max-width: 1023px) {
  .stats-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
  }
}


