.toc-sidebar {
  width: 280px;
  position: sticky;
  top: 120px;
  height: fit-content;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.toc {
  padding: 25px;
}

.toc-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.toc ul {
  list-style: none;
  padding-left: 0;
}

.toc ul ul {
  padding-left: 20px;
}

.toc li {
  margin-bottom: 10px;
}

.toc a {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.3s;
  font-size: 14px;
}

.toc a:hover {
  opacity: 1;
}

