<div class="col-12">
  <div class="article-card glass">

    <div class="article-meta">
      <i class="far fa-calendar"></i> {{ .Date.Format "January 2, 2006" }}
      <span class="mx-2">|</span>
      <i class="far fa-clock"></i> {{ .ReadingTime }} min read
      <span class="mx-2">|</span>
      <i class="far fa-file-text"></i> {{ .WordCount }} words 

      {{ with .Params.categories }} 
      <span class="mx-2">|</span>
      <i class="fas fa-folder"></i> 
      {{ range first 1 . }}
      <a href="{{ "categories" | relURL }}/{{ . | urlize }}/">{{ . }}</a>
      {{ end }}
      {{ end }}

      {{ with .Params.tags }}
      <span class="mx-2">|</span>
      <i class="fas fa-tags"></i>
      {{ range first 2 . }}
      <a href="{{ "tags" | relURL }}/{{ . | urlize }}/" class="meta-tag-link">#{{ . }}</a>
      {{ end }}
      {{ end }}
    </div>

    <a href="{{ .Permalink }}" class="article-title d-block">{{ .Title }}</a>

    <div class="excerpt-wrapper">
      <p class="article-excerpt">
        {{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}
      </p>
    </div>

    <a href="{{ .Permalink }}" class="btn-read-more">READ MORE</a>
  </div>
</div>

